<div>
	<h3 class='inline-block'>The Wall</h3>
	<p class='inline-block'>Hello, <%= @user.first_name %></p>
	<%= link_to('Sign Off', signout_path) %>
</div>
<!-- Display Welcome Msg -->
<% if flash[:enter_success] %>
	<div class="alert alert-warning alert-dismissible" role="alert">
  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  	<%= flash[:enter_success] %>
</div>
<% end %>
<!-- Display Error Msg -->
	<% if flash[:enter_fail] %>
		<div class="alert alert-danger" role="alert">
		<% flash[:enter_fail].each do |each_error| %>
			<p><%= each_error %></p>
		<% end %>
		</div>
	<% end %>

<div class='col-md-8 col-md-offset-2'>
<!-- Form for New Msg -->
<h1>Post a Message</h1>
	<%= simple_form_for @message, :method => 'post',
		:url => 'messages_path' do |m| %>
	  <%= m.input :content, 		:placeholder => 'Create a Message', :label => false %>
	  <%= m.button :submit, 		:class => 'btn btn-primary', 				:value => 'Post a Message' %>
	<% end %>
<!-- Display All Msgs -->
<h3>Recent History</h3>
<% if @messages %>
<% @messages.each do |m| %>
	<h5><%= m.user.first_name + ' ' + m.user.last_name %> - <%= m.created_at %></h5>
	<p><%= m.content %></p>
	<!-- Display All Comments -->
	<% if m.comments %>
	<div class='col-md-offset-1'>
		<% m.comments.each do |c| %>
		<h5><%= c.user.first_name + ' ' + c.user.last_name %> - <%= c.created_at %></h5>
		<p><%= c.reply %></p>
		<% end %>
		<!-- Form for New Comment -->
		<h5>Post a Comment</h5>
		%= simple_form_for(@comment) do |m| %>
		  %= m.input :post, 			:class => '', 								:placeholder => 'Create a Comment' %>
		  %= m.button :submit, 	:class => 'btn btn-success', 	:value => 'Post a Comment' %>
		% end %>
	</div>
	<% end %>
<% end %>
<% end %>
<!-- End All Msgs -->
</div>